<%= render "events/cards", :events => @user.attended_events.future, :title => "Events You're Attending", :subtitle => "Upcoming Events" %>

<div class="mt-5">
  <%= render "events/cards", :events => @user.hosted_events.past, :title => "", :subtitle => "Past Events" %>
</div>