<% if (user_signed_in? && @events.empty?) || (!user_signed_in? && @events.not_private.empty?) %>
  <p class="fw-light text-center my-5">No events have been posted.</p>
<% else %>
  <%= render "cards", :events => user_signed_in? ? @events.future : @events.future_signed_out, :title => "All Events", :subtitle => "Upcoming Events" %>

  <%= render "cards", :events => user_signed_in? ? @events.past : @events.past_signed_out, :title => (user_signed_in? && @events.future.empty?) || (!user_signed_in? && @events.future_signed_out.empty? ) ? "All Events" : "", :subtitle => "Past Events" %>
<% end %>